.bg-black {
  background-color: black !important;
}

.pic {
  margin-top: 2rem;
  margin-right: .3rem;
}

.specButton {
  margin-top: 15px;
  width: 22.5rem !important;
}

.submit {
  background: rgb(65, 167, 65);
  font-size: 18px;
  font-weight: 900;
  border-radius: 7px;
}

.title {
  font-size: 20px !important;
  font-weight: bold !important;
  color: white !important;
  box-shadow: 4px 0px 12px white inset !important;
  background-color: black !important;
}

.modalInput {
  font-size: 20px;
  font-weight: bold;
  color: white;
  box-shadow: 4px 0px 12px white inset;
  background-color: black;

}

.eighths {
  font-size: small;
}

.sixteenths {
  font-size: small;
}

input[type=button] {
  background: rgb(65, 167, 65);
  font-size: 18px;
  font-weight: 900;
  border-radius: 7px;
  width: 4.3rem;
}

input[type=button]:hover {
  background-color: #003300;
  color: white;
}

.mainInput {
  position: relative;
  display: block;
  margin: 5px auto;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 4px 0px 12px white inset;
  background-color: black;
}
